html {
    font-family: "Exo", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

body {
    margin: 1.5em;
    background-color: #1A1A1E;
    color: #FFFFFF;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 1rem;
}

i {
    color: #5886E0;
}

h1 {
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.65rem;
    width: calc(100% + 0.65rem);
    font-size: 2.5em;
    line-height: 1.175;
    font-weight: 100;
}
