html {
    font-family: "Exo", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

body {
    background-color: #1A1A1E;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    height: 100vh;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    vertical-align: middle;
    margin: 0.625rem;
}

i {
    color: #5886E0;
}

h1 {
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.65rem;
    width: calc(100% + 0.65rem);
    font-size: 2.5em;
    line-height: 1.175;
    font-weight: 100;
}

hr {
    width: 100%;
    position: relative;
    padding: 0;
    border: 0;
    height: 1rem;
    line-height: 1rem;
}

hr:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    border-top: solid 1px rgba(255,255,255,0.231);
    height: 1px;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
