<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="frame">
        <div id="main">
            {{ content }}
            <ul>
                <li>
                    <a href="mailto:%63%6f%6e%74%61%63%74%40%72%61%69%6e%65%72%2d%6d%69%6c%63%7a%65%77%73%6b%69%2e%64%65">
                        <i class="fa fa-envelope" style="font-size:48px;color:#5886E0"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.xing.com/profile/Rainer_Milczewski">
                        <i class="fa fa-xing" style="font-size:48px;color:#5886E0"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/rmilczewski">
                        <i class="fa fa-github" style="font-size:48px;color:#5886E0"></i>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
</body>