<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="frame">
        <div id="main">
            {{ content }}
            <table>
                <tr>
                    <td>
                        <a href="https://www.xing.com/profile/Rainer_Milczewski">
                            <i class="fa fa-xing" style="font-size:48px;color:#5886E0"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
</body>